
@model List<Heroes>

@foreach (var hero in @Model)
{
    <div id="content" style="overflow-y:scroll; margin-top: 50px;">
        <div style="float: left; margin-right: 50px;">
            <img src="@hero.UrlImage" height="200" width="200" />
        </div>
        <div style="margin-left: 50px;">
            <h2><a target="_blank" href="@hero.UrlWiki">@hero.Name</a></h2>
            <p>@hero.Description</p>
        </div>
    </div>
}

